header{
    background-color:antiquewhite;
    /* background-image:image(1.gif); */
}
nav{
    background-color:cadetblue;
}
footer{
    background-color:antiquewhite;
    /* background-image:image(1.gif); */
}